.task-3-1.container {
    display: grid;
    height: 100vh;
    background-color: rgba(77,118,146,0.32);
    grid-template-rows: auto auto 1fr auto auto auto;
    gap: 10px;
}

@media (min-width: 720px) {
    .task-3-1.container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto 1fr auto;
    }
}

@media (min-width: 720px) {

    .task-3-1 .header {
        grid-column: 1 / span 12;
    }

    .task-3-1 .navigation {
        grid-column: 1 / span 12;
    }

    .task-3-1 .main {
        grid-column: 3 / span 10;
    }

    .task-3-1 .sidebar {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    .task-3-1 .ads {
        grid-column: 1 / span 2;
    }

    .task-3-1 .footer {
        grid-column: 3 / span 10;
    }
}

@media (min-width: 1020px) {

    .task-3-1 .navigation {
        grid-column: 3 / span 8;
    }

    .task-3-1 .main {
        grid-column: 3 / span 8;
    }

    .task-3-1 .sidebar {
        grid-row: 2 / 4
    }

    .task-3-1 .ads {
        grid-column: 11 / span 2;
        grid-row: 2 / 4;
    }

    .task-3-1 .footer {
        grid-column: 1 / span 12;
    }
}
